/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}
a,a:link,a:visited,a:hover,a:active{
	text-decoration:none;
}
b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

ul {
  list-style: none;
}

li {
/*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
/*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden;
}
i{
  display: inline-block;
  font-style: normal;
}
strong,b{
  font-weight: normal;
}
/*右侧客服 返回顶部 公共样式 start*/
.c_top_qq li a{
	text-decoration: none;
}
.c_top_qq {
	position: fixed;
	right: 0;
	top: 42%;
	z-index: 888;
}
.c_top_qq li {
	margin-bottom: 2px;
	width: 72px;
	height: 72px;
}
.c_top_qq .c_inline_cf:hover {
	background: #d2a36b;
}
.c_top_qq .c_kik_cf:hover {
	background: #d2a36b;
}
.c_top_qq .c_counter_cf:hover {
	background: #d2a36b;
}
.c_top_qq .c_to_top:hover {
	background: #d2a36b;
}
.c_top_qq span {
	margin-left: 20px;
	display: block;
	width: 36px;
	height: 45px;
	background: url(../images/top_contact.png) no-repeat 0 14px;
}
.c_top_qq i {
	font-style: normal;
	color: #fff;
	display: block;
	width: 72px;
	text-align: center;
}
.c_inline_cf {
	background: #cbcbcb;
}
.c_kik_cf {
	background: #cbcbcb;
}
.c_counter_cf {
	background: #cbcbcb;
}
.c_to_top {
	background: #cbcbcb;
	display: none;
}
.c_kik_cf span {
	background-position: 0 -60px;
}
.c_counter_cf span {
	background: url(../images/jf_right_weixin.png) no-repeat center!important;
}
.c_to_top span {
	background-position: 0 -207px;
}
.c_kik_icon {
	position: absolute;
	box-shadow: 2px 2px 3px #aaaaaa;
	width: 120px;
	height: 120px;
	padding: 10px;
	background: #fff;
	top: 40px;
	right: 72px;
	display: none;
}
.c_kik_icon img {
	width: 120px;
	height: 120px;
}
/*ycw_add*/
.ycw_jf_download{
	position: relative;
}
.ycw_jf_download .jf_down_con{
	padding: 6px 14px 14px;
	position: absolute;
	background-color: #fff;
	bottom: 0px;
	left: -150px;
	border: 1px solid #a5a5a5;
	display: none;
	z-index: 999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ycw_jf_download .jf_code{
	width: 102px;
	height: 102px;
	margin: 0 auto;
}
.ycw_jf_download .jf_accounts{
	background: url(../images/jf_weixin.png) center top no-repeat;
	background-size: 102px 102px;
}
.ycw_jf_download .jf_down_code{
	background: url(../images/jf_appFooter_code.png) center top no-repeat;
	background-size: 102px 102px;
}
.ycw_jf_download img{
	width: 12px;
	height: 15px;
	position: absolute;
	bottom: 20px;
	right: -12px;
}
.jf_down_text{
	font-size: 12px;
	text-align: center;
}
/*右侧客服 返回顶部 公共样式 end*/