/*.....ycw_style_start.....*/
/*----账户总览----*/
body{
  background-color: #f3f3f3;
}
.ycw_clearFix:after{
  display: block;
  content: ",";
  height: 0;
  visibility: hidden;
  clear: both;
}
.ycw_clearFix{
  zoom: 1;
}
.ycw_ov_wrapper{
  width: 1200px;
  margin: 40px auto;
}
.ycw_ov_index{
  width: 998px;
  height: auto;
  float: right;
  background-color: #fff;
}
.ycw_ov_index .ov_index_head{
  width: 100%;
  padding: 30px;
  height: auto;
}
.ov_index_head .index_portrait{
  padding: 4px;
  display: inline-block;
  float: left;
}
.index_portrait img{
  width: 56px;
  height: 56px;
}
.ov_index_head .index_username{
  float:right;
  width: 860px;
}
.username_wrapper .username{
  line-height: 36px;
  font-size: 16px;
  color: #3e3e3e;
  float: left;
  padding-right: 8px;
}
.username_wrapper .username_icon{
  width: 56px;
  height: 36px;
  float: left;
  line-height: 36px;
  background: url(../images/overview/grade_icon.png) center center no-repeat;
  background-size: contain;
  text-align: right;
  font-size: 12px;
  color: #fff;
  padding-right: 6px;
}
.index_username .un_time{
  font-size: 12px;
  color: #898989;
}
/*资产配置*/
.ycw_ov_index .index_asset{
  width: 938px;
  height: auto;
  margin: 0 auto;
  background-color: #fbfbfb;
  padding: 30px 0;
}
.index_asset .asset_wrapper{
  width: 312px;
  float: left;
  text-align: center;
}
.asset_wrapper .asset_style{
  font-size: 14px;
  color: #898989;
}
.asset_wrapper .asset_amount{
  font-size: 34px;
  padding-top: 20px;
  color: #3e3e3e;
}
.asset_wrapper .total_amount{
  color: #d2a36b;
}
/*----账户总览----*/
/*----投资管理----*/
.ycw_ov_index .invest_tab{
  margin: 30px 0 0;
}
.invest_tab .hd{
	margin-left: 30px;
  background-color: #f9f9f9;
}
.invest_tab .tab_item{
  width: 180px;
  height: 48px;
  float: left;
  font-size: 18px;
  color: #555;
  line-height: 48px;
  text-align: center;
  border-top: 2px solid #f9f9f9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.invest_tab .tab_item.on{
  color: #d2a36b;
  background-color: #fff;
  border-top: 2px solid #d2a36b;
}
.ycw_ov_index .bd{
  background-color: #fff;
}
.ycw_ov_index .item_status{
  padding: 30px 0 0 30px;
}
.ycw_ov_index .item_type{
  padding-left: 30px;
}
.ycw_ov_index .status_title{
  width: 132px;
  height: 50px;
  font-size: 14px;
  color: #555;
  line-height: 50px;
  text-align: center;
  float: left;
}
.ycw_ov_index .cls_item{
  width: 90px;
  height: 50px;
  float: left;
}
.cls_item a{
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #898989;
  text-align: center;
  text-decoration: none;
}
.ycw_ov_index .cls_item.on a{
  color: #d2a36b;
}















/*----投资管理----*/
/*.....ycw_style-end.....*/