*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	background: #f3f3f3;
}
/*@media screen and (min-width: 1150px) {  
   body {  
       margin-left: calc(100vw - 100%);  
   }  
}*
/*html {
  overflow-y: scroll;
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
/*:root body {
  position: absolute;
}
body {
  width: 100vw;
  overflow: hidden;
}*/


/*左侧公共导航:zwj-start-*/
.zwj_c_left{
	float: left;
	width: 190px;
	min-height: 587px;
	background: #fff;
}
.nav_lists li{
	font-size: 14px;
	position: relative;
}
.nav_lists li>.p_nav{
	display: block;
	margin: 7px 0 7px 10px;
    padding-left: 22px;
	width: 183px;
	height: 38px;
	line-height: 38px;
	color: #484848;
	cursor: pointer;
}
.nav_lists li>.p_nav:hover{
	color: #d2a36c;
}
.nav_lists li>.p_nav i{
	float:left;
	background: url(/Style/images/nav_icon.png) no-repeat center;
	position: relative;
}
.nav_lists li>.p_nav i.iel{
    display: inline-block;
    width: 16px;
    height: 20px;
    top: 9px;
    margin-right: 10px;
}
.nav_lists li>.p_nav i.iri{
	float: right;
	display: inline-block;
    width: 16px;
    height: 10px;
    top: 15px;
    right: 20px;
}
.nav_lists li>.p_nav p{
	float: left;
}

.nav_lists li>.s_nav{
	overflow: hidden;
}
.nav_lists li>.s_nav a{
    padding-left: 58px;
    display: block;
    height: 52px;
    width: 100%;
    color: #898989;
    line-height: 52px;
    text-decoration: none;
}

.nav_lists li>.s_nav a:hover,.nav_lists li>.s_nav a.active{
	color: #d2a36c;
}

.nav_lists li>div.active,.nav_lists li:hover>div.active{
	background: #dfb890;
	color: #fff;
}
/*默认图标*/
.nav_lists li .p_nav .ie1{
	background-position-y: -80px;
}
.nav_lists li .p_nav .ie2{
	background-position-y: -100px;
}
.nav_lists li .p_nav .ie3{
	background-position-y: -120px;
}
.nav_lists li .p_nav .ie4{
	background-position-y: -140px;
}
.nav_lists li>div i.iri{
	background-position-y: -270px;
}
.nav_lists li>div.act i.iri{/*打开*/
	background-position-y: -260px;
}
/*鼠标划入图标*/
.nav_lists li div.p_tle:hover .ie1{
	background-position-y: -160px;
}
.nav_lists li div.p_tle:hover .ie2{
	background-position-y: -180px;
}
.nav_lists li div.p_tle:hover .ie3{
	background-position-y: -200px;
}
.nav_lists li div.p_tle:hover .ie4{
	background-position-y: -220px;
}
.nav_lists li>div:hover i.iri{
	background-position-y: -290px;
}
.nav_lists li>div.act:hover i.iri{/*打开*/
	background-position-y: -280px;
}
/*选中图标*/
.nav_lists li>div.active .ie1,.nav_lists li:hover>div.active .ie1{
	background-position-y: 0px;
	color:#fff
}
.nav_lists li>div.active .ie2,.nav_lists li:hover>div.active .ie2{
	background-position-y: -20px;
	color:#fff
}
.nav_lists li>div.active .ie3,.nav_lists li:hover>div.active .ie3{
	background-position-y: -40px;
	color:#fff
}
.nav_lists li>div.active .ie4,.nav_lists li:hover>div.active .ie4{
	background-position-y: -60px;
	color:#fff
}
.nav_lists li>div.active i.iri{
	background-position-y: -250px;
}
.nav_lists li>div.active.act i.iri{/*打开*/
	background-position-y: -240px;
}
/*右侧三角，只在有active属性的时候出现*/
.nav_lists li>div.active:after{    
	position: absolute;
    content: "";
    background: url(/Style/images/rig_tri.png) no-repeat 0;
    width: 8px;
    height: 12px;
    right: -11px;
    top: 13px;
}
/*左侧公共导航:zwj-end-*/
/*公共底部:zwj-start-*/
.footer{
	margin: -332px auto 0;
	width: 100%;
  height: 332px;
  clear: both;
  display: block;
  overflow: hidden;
}
.f_top{
	height: 170px;
	background: #454546;
}
.f_top .t_box{
	margin: 0 auto;
	width: 1200px;
	height: 170px;
}
.f_top .t_lists{
	float: left;
	width: 435px;
	overflow: hidden;
}
.f_top .t_lists li{
	margin-right: 75px;
    float: left;
    width: 70px;
    margin-top: 30px;		
}
.f_top .t_lists li a{
	color: #a5a5a5;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}
.f_top .t_lists li a:hover{
	color: #d3a36a;
}
.t_ewm{
	float: left;
    width: 442px;
    margin-top: 30px;
}
.t_ewm .ewm{
	display: inline-block;
	width: 96px;
	margin-right: 40px;
	text-align: center;
}
.t_ewm .ewm p{
	margin-bottom: 16px;
	font-size: 16px;
	color: #a5a5a5;
}
.t_ewm .ewm img{
	display: inline-block;
	width: 78px;
}
.t_contact{
	float: right;
    margin-top: 30px;
    text-align: right;
}
.t_contact p{
	margin-bottom: 10px;
}
.t_contact .cta{
	color: #898989;
	font-size: 14px;
}
.t_contact .cta i{
	margin-right: 10px;
	display: inline-block;
	width: 34px;
	height: 34px;
}
.t_contact .phone{
	font-size: 36px;
    color: #898989;
    font-weight: bold;
}
.f_bot{
	height: 160px;
	background: #313131;
}
.f_bot .link_lists{
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #7d7d7d;
}
.f_bot .link_lists a{
	margin-left: 50px;
}
.f_bot .link_lists a:hover{
	color: #d3a36a;
}
.f_bot .link_lists a,
.f_bot .link_lists span{
	float: left;
	font-size: 12px;
	color: #898989;
	text-decoration: none;
}	
.bot_crg{
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}
.f_bot .crg{
	margin-top: 10px;
	float: left;
	width: 500px;
}
.f_bot .licence{
	float: right;
	margin-top: 25px;
}
.f_bot .crg p{
	font-size: 12px;
    color: #898989;
    margin-top: 10px;
}
.f_bot .licence img{
	margin-left: 30px;
    width: 97px;
    height: 36px;
}
/*公共底部:zwj-end-*/

/*登录：zwj-start*/
#main{
	position: relative;
    background: none;
    width: 100%;
}
#main .main_in {
    width: 1198px;
    height: 425px;
    margin: 50px auto 20px;
    background: #fff;
    border: 1px solid #ddd;
}
#main .main_in .main_content {
    position: relative;
}
#main .main_in .login {
    height: 440px;
}
.login_posi {
    width: 231px;
    height: 178px;
    position: absolute;
    right: 230px;
    top: 130px;
    z-index: 11;
}
.reg_tip_new {
    position: absolute;
    top: 81%;
    font-size: 14px;
    right: 20%;
    color: #666;
}
#main .main_in .main_content form {
    display: block;
    height: 390px;
    width: 528px;
    float: left;
    padding-top: 40px;
    background: #fff;
    overflow: hidden;
    margin-left: 20px;
}
#main .main_in .main_content form h3 {
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}
#main .main_in .main_content form h3 a.login {
	float: left;
    background-image: none;
    height: 39px;
    line-height: 39px;
    font-size: 16px;
    color: #666;   
}
.float_r {
    float: right;
}
.color_jiu {
    color: #cbcbcb;
}
#main .main_in .main_content form h3 a.mfzc {
    color: #d2a36b;
}
#main .main_in .main_content form .mc_bd {
    padding-top: 27px;
    margin: auto;
    overflow: hidden;
}
#main .main_in .main_content form .mc_bd label {
    display: block;
    height: 44px;
    /*line-height: 65px;*/
    font-size: 16px;
    margin-bottom: 41px;
    position: relative;
}
#main .main_in .main_content form .mc_bd label em{
	position: absolute;
    color: #999;
    font-size: 14px;
    font-style: normal;
    top: 13px;
    left: 10px;
    cursor: auto;
    /*height: 42px;*/
    /*line-height: 0;*/
}
#main .main_in .main_content form .mc_bd label input {
	padding: 10px 0 10px 10px;
	text-align: left;
    width: 528px;
    border: 1px solid #cccccc;
    height: 44px;
    /*line-height: 44px;*/
    font-size: 14px;
    border-radius: 3px;
    box-sizing: border-box;
}
.bg_inputo, .bg_inputt {
    background: none;
    padding: 0;
    padding-left: 10px;
}
#main .main_in .main_content form .mc_bd p {
    height: 23px;
    line-height: 23px;
    font-size: 14px;
    color: #999;
}
#main .main_in .main_content form .mc_bd p.Validform_checktip{
	color: #EC7173;
}
#main .main_in .main_content form .mc_bd a.lost {
    margin-left: auto;
    display: block;
    color: #d2a36b;
    width: 320px;
    text-align: right;
    font-size: 14px;
}
#main .main_in .main_content form .wangjimima {
	float: right;
    margin-right: 10px;
}
#main .main_in .main_content form .mc_bd .denglua {
    width: 99%;
    height: 45px;
    line-height: 45px;
    display: block;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background-color: #d2a36b;
    margin-top: 45px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
#spuser_name_x font,#sp_pwd_x font {
    text-align: left;
    height: 19px;
    display: block;
    line-height: 19px;
    margin-top: -1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 77px;
    color: #EC7173;
}
/*登录：zwj-end*/
/*注册：zwj-start*/
.fl{
	float: left;
}
.fr{
	float: right;
}
#shiming .shi_in {
    width: 1200px;
    margin: 50px auto 20px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.headnav {
    width: 1160px;
    border-bottom: 1px solid #ddd;
    margin: 0 20px;
    padding-top: 30px;
}
.headnav h4 {
    font-size: 20px;
    color: #666;
    line-height: 46px;
    font-weight: normal;
}
.w_left {
    width: 700px;
    height: 40px;
    text-align: center;
}
.yydl {
    width: 80%;
    color: #333;
    font-size: 16px;
    text-align: right;
    line-height: 46px;
    padding-right: 30px;
}
#reg {
    width: 530px;
    float: left;
    background: #fff;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
}
#reg .main_in {
    width: 530px;
}
.mc_bd {
    width: 530px;
    margin: auto;
}
#reg .main_in .main_content form .mc_bd div {
    width: 528px;
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
    position: relative;
    height: 48px;
    position: relative;
}
#reg .main_in .main_content form .mc_bd div .inp_p {
    width: 93px;
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(/Style/images/reg/bian.png) right center no-repeat;
    display: none;
}
#reg .main_in .main_content form .mc_bd div input {
    width: 528px;
    border: 1px solid #ccc;
    height: 48px!important;
    line-height: 48px;
    font-size: 14px;
    text-indent: 16px;
    color: #999;
    outline: none;
    background: #fff;
    box-sizing: border-box;
    border-radius: 0;
}
#reg .main_in .main_content form .mc_bd .label em,
#reg .main_in .main_content form .mc_bd .tjr em{
	position: absolute;
    color: #999;
    font-size: 14px;
    font-style: normal;
    top: 13px;
    left: 10px;
    cursor: auto;
}

#reg .main_in .main_content form .mc_bd .yz_ia{
	display:block;
	height:50px;
}
#reg .main_in .main_content form .mc_bd .yz_ia .yzm_img{
	width:120px;
	margin:0; 
	height:48px;
	float:left;
}
#reg .main_in .main_content form .mc_bd .yz_ia input{
	width: 398px!important;
}
#spphone, #sppw_one, #verifyTop, #idcardErr, #realnameErr {
    width: 528px;
    position: absolute;
    left: 0;
    bottom: -18px;
}
.test_yzm {
    float: left;
    width: 153px\9;
}
.yz_ia img {
    display: inline-block;
    position: absolute;
    right: 0;
}
.auto_login {
	display: block;
    padding-bottom: 25px;
}
.auto_login span {
    font-size: 14px;
}
.auto_login span a {
    color: #d2a36b;
    font-size: 16px;
}
.denglureg {
    height: 43px!important;
    line-height: 45px;
    display: block;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background-color: #d2a36b;
    margin: 0 auto;
    border: 1px solid #d2a36b;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.reg_right {
    width: 313px;
    height: 330px;
    position: absolute;
    top: 201px;
    right: 150px;
    z-index: 11;
}
.posi {
    width: 313px;
    height: 296px;
}
.reg_tip {
    width: 100%;
    height: 34px;
    font-size: 14px;
    color: #666;
    line-height: 34px;
    text-align: center;
}
.l_box {
    width: 240px;
    height: 340px;
    padding: 30px;
    position: fixed;
    border: 1px solid #ccc;
    left: 50%;
    top: 50%;
    margin-left: -151px;
    margin-top: -201px;
    background: #fff;
    display: none;
}
#spphone font {
    height: 19px;
    width: 100%;
    display: block;
    line-height: 19px;
    text-align: center;
    border: none;
}
.dxyfs {
    width: 120px!important;
    height: 48px!important;
    width: 120px;
    height: 48px;
    line-height: 48px;
    background-color: #d2a36b;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-left: 10px;
}
/*#xieyi {
    width: 100%;
    height: 100%;
    background: url(/Style/images/sm_bg.png) repeat;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    behavior: url(../js/PIE.htc);
    z-index: 999;
}
#xieyi .xieyi_in {
    width: 630px;
    height: 520px;
    background-color: #fff;
    position: absolute;
    margin-left: -315px;
    left: 50%;
    top: 200px;
    padding-bottom: 30px;
    z-index: 9901;
}
#xieyi .xieyi_in em.close {
    width: 38px;
    height: 40px;
    background: url(/Style/images/public/cha.png) no-repeat right top;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 10;
}
#xieyi .xieyi_in h3 {
    padding: 30px;
    font-size: 18px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #424242;
}
#xieyi .xieyi_in .xieyi_con {
    height: 400px;
    padding: 0 30px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 20px;
}
#xieyi .xieyi_in .xieyi_con p {
    text-indent: 2em;
    color: #838383;
    font-size: 12px;
}
#xieyi .xieyi_in a.queding {
    background-color: #ff7804;
    border-radius: 5px;
    bottom: 15px;
    color: #fff;
    line-height: 36px;
    padding: 0 30px;
    position: absolute;
    right: 20px;
}*/
.clearfix{
	display: block;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
/*注册：zwj-end*/

/*注册协议：zwj-start*/
.xyWrapper{margin:40px 0;padding-bottom: 0px;background: #f2f2f2;height: auto;}
.logxyWrapper{margin: 0 auto;width: 1000px;background: #fff;}
.logxyBox{padding: 30px 100px;width: 1000px;color: #666;}
.logxyBox h3{font-size: 14px;}
.logxyBox h2{font-size: 30px;}
.logxyBox h2{font-size: 18px;}
.logxyBox h2,.logxyBox h4{padding:20px 0;text-align: center;}
.logxyBox p{font-size: 14px;line-height: 28px;}
.logxyBox p span{font-weight: bold;}
.logxyBox p a{color: #f00;text-decoration: none!important;}
/*注册协议：zwj-end*/