*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	background: #f3f3f3;
}
/*@media screen and (min-width: 1150px) {  
   body {  
       margin-left: calc(100vw - 100%);  
   }  
}*/
html {
  overflow-y: scroll;
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
/*:root body {
  position: absolute;
}*/
body {
  width: 100vw;
  overflow: hidden;
}


/*左侧公共导航:zwj-start-*/
.zwj_c_left{
	float: left;
	width: 190px;
	min-height: 587px;
	background: #fff;
}
.nav_lists li{
	font-size: 14px;
	position: relative;
}
.nav_lists li>.p_nav{
	display: block;
	margin: 7px 0 7px 10px;
    padding-left: 22px;
	width: 183px;
	height: 38px;
	line-height: 38px;
	color: #484848;
	cursor: pointer;
}
.nav_lists li>.p_nav:hover{
	color: #d2a36c;
}
.nav_lists li>.p_nav i{
	float:left;
	background: url(../../../Style/images/nav_icon.png) no-repeat center;
	position: relative;
}
.nav_lists li>.p_nav i.iel{
    display: inline-block;
    width: 16px;
    height: 20px;
    top: 9px;
    margin-right: 10px;
}
.nav_lists li>.p_nav i.iri{
	float: right;
	display: inline-block;
    width: 16px;
    height: 10px;
    top: 15px;
    right: 20px;
}
.nav_lists li>.p_nav p{
	float: left;
}

.nav_lists li>.s_nav{
	overflow: hidden;
}
.nav_lists li>.s_nav a{
    padding-left: 58px;
    display: block;
    height: 52px;
    width: 100%;
    color: #898989;
    line-height: 52px;
    text-decoration: none;
}

.nav_lists li>.s_nav a:hover,.nav_lists li>.s_nav a.active{
	color: #d2a36c;
}

.nav_lists li>div.active,.nav_lists li:hover>div.active{
	background: #dfb890;
	color: #fff;
}
/*默认图标*/
.nav_lists li .p_nav .ie1{
	background-position-y: -80px;
}
.nav_lists li .p_nav .ie2{
	background-position-y: -100px;
}
.nav_lists li .p_nav .ie3{
	background-position-y: -120px;
}
.nav_lists li .p_nav .ie4{
	background-position-y: -140px;
}
.nav_lists li>div i.iri{
	background-position-y: -270px;
}
.nav_lists li>div.act i.iri{/*打开*/
	background-position-y: -260px;
}
/*鼠标划入图标*/
.nav_lists li div.p_tle:hover .ie1{
	background-position-y: -160px;
}
.nav_lists li div.p_tle:hover .ie2{
	background-position-y: -180px;
}
.nav_lists li div.p_tle:hover .ie3{
	background-position-y: -200px;
}
.nav_lists li div.p_tle:hover .ie4{
	background-position-y: -220px;
}
.nav_lists li>div:hover i.iri{
	background-position-y: -290px;
}
.nav_lists li>div.act:hover i.iri{/*打开*/
	background-position-y: -280px;
}
/*选中图标*/
.nav_lists li>div.active .ie1,.nav_lists li:hover>div.active .ie1{
	background-position-y: 0px;
	color:#fff
}
.nav_lists li>div.active .ie2,.nav_lists li:hover>div.active .ie2{
	background-position-y: -20px;
	color:#fff
}
.nav_lists li>div.active .ie3,.nav_lists li:hover>div.active .ie3{
	background-position-y: -40px;
	color:#fff
}
.nav_lists li>div.active .ie4,.nav_lists li:hover>div.active .ie4{
	background-position-y: -60px;
	color:#fff
}
.nav_lists li>div.active i.iri{
	background-position-y: -250px;
}
.nav_lists li>div.active.act i.iri{/*打开*/
	background-position-y: -240px;
}
/*右侧三角，只在有active属性的时候出现*/
.nav_lists li>div.active:after{    
	position: absolute;
    content: "";
    background: url(../../../Style/images/rig_tri.png) no-repeat 0;
    width: 8px;
    height: 12px;
    right: -11px;
    top: 13px;
}
/*左侧公共导航:zwj-end-*/